.image {
  display: block;
  margin: 0 auto 15px auto;
  object-fit: cover;
}

.title {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}

.status {
  text-align: center;
}

.offline {
  composes: status;
  color: red;
}

.online {
  composes: status;
  color: green;
}
